@import "normalize";
@import "variables";
@import "helper";

body {
  font-size: 12px;
  background-color: $bg !important;
  color: $color;
  font-display: $fontPrimary;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

.layout {
  width: 100%;
  .header {
    padding: 10px 0;
    border-bottom: 1px solid $color;
  }

  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #00809f;
    color: white;
    padding: 3px 0;
    text-align: center;
  }

  .header,
  .wrapper {
    max-width: 1280px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
  }
}

.wrapper {
  display: flex;
  width: 100%;

  .content-wrapper {
    width: 70%;
    padding-left: 50px;
  }
  .side {
    width: 30%;
    padding-right: 50px;
  }

  @media (max-width: 768px) {
    display: block;
    .content-wrapper,
    .side {
      padding: 0;
      width: 100%;
    }
  }
}

.ant-tabs {
  color: $color !important;
  &.ant-tabs-top {
    .ant-tabs-ink-bar {
      top: 0px;
      height: 5px !important;
      background: $color !important;
    }
    .ant-tabs-tab {
      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: $color;
          font-weight: bold;
        }
      }
    }
  }
}

.chart-wrapper {
  height: 350px;
  margin-bottom: 80px;
  .chart-title {
    margin-bottom: 20px;
  }
}

// input
.ant-input {
  border-color: $button;
  border-radius: 8px;
  max-width: 250px;
  width: 100%;
}
.ant-input-number {
  min-width: 105px !important;
  border-radius: 4px !important;
  border: 1px solid $color !important;

  @media (max-width: 768px) {
    min-width: 100% !important;
  }
}
.input-field {
  .ant-form-item-control-input {
    margin-bottom: 10px;
    text-align: right;
  }
}
// switch
.ant-switch {
  background: $button !important;
  border: 1px solid $color !important;

  .ant-switch-handle {
    top: 1px;
    &:before {
      border: 1px solid $color !important;
    }
  }

  &.ant-switch-checked {
    .ant-switch-handle:before {
      background-color: $product !important;
    }
  }
}
.switch-field {
  .ant-form-item-control-input-content {
    display: flex;

    small {
      position: relative;
      top: 5px;
      margin: 0 6px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

// radio
.ant-radio-group {
  .ant-radio-wrapper {
    display: block;
  }
}
.ant-radio {
  .ant-radio-inner {
    border: 1px solid $color !important;
    border-color: $color;
    &:after {
      border: 1px solid $color !important;
      background-color: $product;
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
    }
  }
}

.ant-checkbox {
  .ant-checkbox-inner {
    border: 1px solid $color !important;
    background-color: white;
    border-radius: 4px;
  }
  &.ant-checkbox-checked {
    .ant-checkbox-inner {
      border: 1px solid $color !important;
      background: transparent !important;
      &:after {
        transform: none !important;
        top: 2px;
        left: 2px;
        display: table;
        border: 1px solid $color !important;
        background: $product !important;
        width: 10px;
        height: 10px;
      }
    }
  }
}

.checkbox-field {
  .ant-checkbox-wrapper,
  .ant-radio-wrapper {
    display: block;
  }
  .ant-checkbox-wrapper,
  .ant-radio-wrapper {
    margin-left: 0 !important;
  }
}

.ant-btn {
  border: 1px solid $color;
  border-radius: 8px;
  &:hover,
  &:active,
  &:focus {
    color: $color;
    border-color: $color;
  }
}
.ant-btn-primary {
  background: $product !important;
  color: black !important;
  font-weight: bold;
  border: 1px solid $color !important;
  border-radius: 8px !important;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($product, 10%) !important;
    border-color: $color;
  }
}

.ant-slider-with-marks {
  margin-bttom: 0 !important;
}

.ant-slider {
  .ant-slider-rail {
    background-color: transparent;
  }
  .ant-slider-track {
    background-color: $button;
    opacity: 0.8;
    position: absolute;
    top: -2px;
    height: 16px;
  }
  .ant-slider-step {
    left: 3px;
  }
  .ant-slider-handle {
    width: 18px;
    height: 18px;
    top: 3px;
    border: solid 0.5px $color;
    background-color: $product;
  }
  .ant-slider-dot {
    border: 0;
    top: -8px;
    width: 1px;
    height: 22px;
    border-radius: 0 !important;
    background: $color;
    &:nth-child(n + 12) {
      top: -3px;
      height: 10px;
    }
  }
  .ant-slider-mark-text {
    margin-top: 10px;
    font-size: 10px;
  }
}
.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-collapse {
  .collapse-in-collapse {
    border-radius: 4px;
    .ant-collapse-header {
      background: $button;
    }
    .ant-form-item-label {
      label {
        font-size: 12px;
      }
    }
    .ant-collapse-content {
      background: #e0f3f7;
    }
    .ant-collapse-arrow {
      left: 5px !important;
    }
  }

  width: 100%;
  .ant-collapse-header {
    padding: 10px 20px !important;
    color: $htitle !important;
    font-weight: bold;
  }

  .ant-collapse-arrow {
    left: 0 !important;
  }
}

.total-message {
  color: #ff4d4f;
}
.other-buttons {
  margin-left: 10px;
  background: #c6e7ed !important;
  border: 1px solid $color !important;
  border-radius: 8px !important;
}
