@import "normalize";
@import "variables";
@import "helper";

body {
  font-size: 12px;
  background-color: $bg;
  color: $color;
  padding: 5px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

.layout {
  width: 100%;

  .header {
    padding: 10px 0;
    border-bottom: 1px solid $color;
  }

  .header,
  .footer,
  .wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}

.wrapper {
  display: flex;
  width: 100%;

  .content-wrapper {
    width: 70%;
  }
  .side {
    width: 30%;
  }

  @media (max-width: 768px) {
    display: block;
    .content-wrapper,
    .side {
      width: 100%;
    }
  }
}

.ant-tabs {
  &.ant-tabs-top {
    .ant-tabs-nav {
      &:before {
        border: 0;
      }
    }
    .ant-tabs-ink-bar {
      background: none;
    }
    .ant-tabs-tab {
      height: 50px;
      .ant-tabs-tab-btn {
        padding: 5px 0 5px 0 !important;
      }
      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          padding: 0px 0 5px 0 !important;
        }
        background: transparent;
        border-top: 5px solid $color;
        .ant-tabs-tab-btn {
          color: $color;
        }
      }
    }
  }
}
