@import "normalize";
@import "variables";
@import "helper";

body {
  font-size: 12px;
  background-color: $bg !important;
  color: $color;
  padding: 5px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

.layout {
  width: 100%;
  padding: 0 10px;
  .header {
    padding: 10px 0;
    border-bottom: 1px solid $color;
  }

  .header,
  .footer,
  .wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}

.wrapper {
  display: flex;
  width: 100%;

  .content-wrapper {
    width: 70%;
    padding-left: 50px;
  }
  .side {
    width: 30%;
    padding-right: 50px;
  }

  @media (max-width: 768px) {
    display: block;
    .content-wrapper,
    .side {
      padding: 0;
      width: 100%;
    }
  }
}

.ant-tabs {
  &.ant-tabs-top {
    .ant-tabs-nav {
      &:before {
        border: 0;
      }
    }
    .ant-tabs-ink-bar {
      background: none;
    }
    .ant-tabs-tab {
      height: 50px;
      .ant-tabs-tab-btn {
        padding: 5px 0 5px 0 !important;
      }
      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          padding: 0px 0 5px 0 !important;
        }
        background: transparent;
        border-top: 5px solid $color;
        .ant-tabs-tab-btn {
          color: $color;
        }
      }
    }
  }
}

.chart-wrapper {
  height: 350px;
  margin-bottom: 80px;
  .chart-title {
    margin-bottom: 20px;
  }
}

// input
.ant-input {
  border-color: $button;
  border-radius: 8px;
  max-width: 250px;
  width: 100%;
}

// switch
.ant-switch {
  border: 0;

  .ant-switch-handle:before {
    border: 1px solid $color !important;
  }

  &.ant-switch-checked {
    .ant-switch-handle:before {
      background-color: $product !important;
    }
  }
}
.ant-radio,
.ant-checkbox {
  &:hover {
    .ant-checkbox-inner,
    .ant-radio-inner {
      border-color: $button;
    }
  }
}

// radio
.ant-radio {
  .ant-radio-inner {
    border-color: $button;
    &:after {
      border: 1px solid $button !important;
      background-color: $product;
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
    }
  }
}

.ant-checkbox {
  .ant-checkbox-inner {
    border-color: $button;
    background-color: white;
  }
  &.ant-checkbox-checked {
    .ant-checkbox-inner {
      &:after {
        transform: none !important;
        top: 2px;
        left: 2px;
        display: table;
        border: 1px solid $button;
        width: 10px;
        height: 10px;
        background: $product !important;
      }
    }
  }
}

.ant-btn {
  border: 1px solid $color;
  border-radius: 8px;
  &:hover,
  &:active,
  &:focus {
    color: $color;
    border-color: $color;
  }
}
.ant-btn-primary {
  background: $product !important;
  color: black !important;
  font-weight: bold;
  border: 1px solid $color !important;
  border-radius: 8px !important;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($product, 10%) !important;
    border-color: $color;
  }
}

.ant-slider-with-marks {
  margin-bttom: 0 !important;
}

.ant-slider {
  .ant-slider-rail {
    background-color: transparent;
  }
  .ant-slider-track {
    background-color: $button;
    opacity: 0.8;
    position: absolute;
    top: -2px;
    height: 16px;
  }
  .ant-slider-step {
    left: 3px;
  }
  .ant-slider-handle {
    width: 18px;
    height: 18px;
    top: 3px;
    border: solid 0.5px $color;
    background-color: $product;
  }
  .ant-slider-dot {
    border: 0;
    top: -8px;
    width: 1px;
    height: 22px;
    border-radius: 0 !important;
    background: $color;
    &:nth-child(n + 12) {
      top: -3px;
      height: 10px;
    }
  }
  .ant-slider-mark-text {
    margin-top: 10px;
    font-size: 10px;
  }
}
.ant-form-item {
  margin-bottom: 0 !important;
}

.side {
}
