// 0 to 10
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.cursor-pointer {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}

.mB0 {
  margin-bottom: 0;
}
.mB20 {
  margin-bottom: 20px;
}
.htitle {
  color: $htitle;
}
